<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yunrich.tmmod.dal.dao.DbStatMapper">
  <resultMap id="BaseResultMap" type="org.yunrich.tmmod.tmmod.dal.model.DbStat">
    <result column="STAT" jdbcType="CHAR" property="stat" />
  </resultMap>
  <sql id="Base_Column_List">
    STAT
  </sql>
  <select id="select4VisitDb" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from db_stat
  </select>
</mapper>